[2016-03-26 19:21] AdamMc331 opened #1 "Pull rooms that user is in instead of hardcoding them."

[2016-09-16 03:15] AdamMc331 opened #2 "Clean Up Chat Fragment"
Need to redesign this fragment: http://i.imgur.com/XWuIWJL.png

This likely won't be the final redesign, but cleaning it up to make it more readable for testing.

Also will use git flow and create a new branch for this and merge it into a new `develop` branch.

[2017-07-04 23:28] AdamMc331 opened #4 "Code Cleanup & Documentation"
Tristan converted this all to Kotlin, but I wanna go through and clean up a few things with my additional Kotlin experience and add some kdocs.

[2017-07-04 23:34] AdamMc331 opened #5 "Remove logger class and replace with Timber"
https://github.com/JakeWharton/timber

[2017-07-04 23:37] TristanWiley opened #6 "Fix images"
Currently images do not load. I'm using Ion to load them, but they just simply don't work and I'm not entirely sure why at this moment.

[2017-07-04 23:48] TristanWiley opened #7 "Switch to AccountManager [ASAP]"
Store login information in AccountManager instead of SharedPrefs.

[2017-07-04 23:57] AdamMc331 opened #8 "Convert network.cookie package"
These files didn't convert easily to kotlin, and I suspect it has to do with the montage of comments in there. Will be better of re-writing manually.

[2017-07-05 00:01] AdamMc331 opened #10 "Replace LoginAsyncTask with RxJava"
Bad bad bad bad bad.

[2017-07-06 09:23] ninadmg commented on #10
How about using a presenter insted of writing all the network code in the Activity itself?

[2017-07-06 13:51] AdamMc331 commented on #10
I like the way you think.

[2017-07-06 16:11] ninadmg commented on #6
any reason Ion is used over Picasso?

[2017-07-06 16:24] TristanWiley commented on #6
Not really, feel free to change it. Whatever works best.

[2017-07-07 00:26] TristanWiley opened #12 "Chat stops listening when activity looses focus"
When you close the app and reopen (or go into a new activity) the app stops receiving new messages. Need to fix soon.

[2017-07-07 00:37] TristanWiley opened #13 "Load back previous messages"
Make it so you can load previous messages

I'll work on this eventually, if someone gets to it first then <3 <3

[2017-07-08 18:56] TristanWiley opened #14 "[Urgent] App crashes when too many rooms load at once"
App crashes when too many rooms load at once. I'm not sure why completely and need some help fixing.

[code]

[2017-07-08 20:06] TristanWiley commented on #14
I think if we make it so it doesn't load the room until you select the tab, that might work.

[2017-07-09 04:50] surajrao commented on #14
Not sure it is _too many rooms_. The exception means the listener arraylist is modified (adding a room) when you are getting an incoming message in the socket (existing room). Probably need to think of a solution like https://stackoverflow.com/questions/34608551/in-kotlin-how-do-you-modify-the-contents-of-a-list-while-iterating

[2017-07-09 05:11] TristanWiley commented on #14
Interesting. Well I decided to change the flow and solve a few issues at once. I'll be implementing a slide out NavigationDrawer that lists the currently in rooms and allows switching from there. This should also solve the issue of room names being cut off when there's more than like 4. I'll be pushing this changed code tomorrow.On Jul 9, 2017 12:50 AM, Suraj Rao <notifications@github.com> wrote:N

[2017-07-12 23:37] TristanWiley commented on #14
Fixed in above commit on branch develop by adding DrawerLayout

[2017-07-12 23:37] #14 closed

[2017-07-12 23:38] TristanWiley opened #15 "Finish room search"
Finish the adding new rooms, current in branch develop

[2017-07-13 12:53] TristanWiley commented on #7
Removed login altogether

[2017-07-13 12:53] #7 closed

[2017-07-13 12:55] TristanWiley commented on #5
@AdamMc331 did you ever finish this?

[2017-07-15 15:37] TristanWiley opened #16 "Integrate Image Uploading"
Will use Imgur most likely

[2017-07-15 20:01] #16 closed

[2017-07-15 20:02] TristanWiley commented on #12
Fixed this in one of my commits.

[2017-07-15 20:02] #12 closed

[2017-07-15 20:03] #1 closed

[2017-07-15 20:04] TristanWiley opened #17 "Integrate login via Google"
This will take some work but shouldn't be too difficult

[2017-07-16 01:18] TristanWiley commented on #17
Not going to do, only way is super sketchy and OpenID will be fine.

[2017-07-16 01:18] #17 closed

[2017-07-16 02:39] #6 closed

[2017-07-20 12:50] TristanWiley opened #18 "Add starboard"
Need to add starboard and add newevent listener for started items

[2017-07-22 15:45] TristanWiley opened #19 "Add history"
Make it so you can load history from the past

https://chat.stackoverflow.com/chats/15/events?before=38263611&mode=Messages&msgCount=100

Example. replace "15" with the room number and "38263611" with the last id from the RecyclerView.

[2017-08-04 20:14] TristanWiley commented on #15
Ended up just adding a dialog that allows ID input.

[2017-08-04 20:14] #15 closed

[2017-08-04 20:15] TristanWiley commented on #19
Duplicate of #13 oops

[2017-08-04 20:15] #19 closed, assigned to nobody

[2017-08-04 20:15] TristanWiley commented on #13
Make it so you can load history from the past

https://chat.stackoverflow.com/chats/15/events?before=38263611&mode=Messages&msgCount=100

Example. replace "15" with the room number and "38263611" with the last id from the RecyclerView.

[2017-08-04 20:16] TristanWiley opened #20 "Tags could use some UI improvements"
Tags in the AlertDialog when clicked on room_information could use some UI improvements. Currently using a FlowLayout

[2017-08-04 20:16] TristanWiley opened #21 "Comment everything"
Needing to get everything commented

[2017-08-05 15:50] #21 closed, assigned to nobody

[2017-08-05 15:51] TristanWiley commented on #10
Replaced with Anko doAsync{}

[2017-08-05 15:51] #10 closed

[2017-08-05 15:51] #2 closed

[2017-08-06 04:07] #13 closed

[2017-08-06 04:08] TristanWiley commented on #4
Commented everything, waiting on @AdamMc331 for kdocs?

[2017-08-08 13:11] TristanWiley opened #22 "Check to see if Websocket is still listening onResume"
Currently in on resume I'm reloading the room, which doesn't take too much away, but it could be done better. There should be a way to determine if the WS is still listening. If anyone can look at this and let me know, thanks.

[2017-08-10 16:15] TristanWiley commented on #22
Fixed

[2017-08-10 16:15] #22 closed, assigned to nobody

[2017-08-10 16:15] TristanWiley commented on #5
Got rid of Timber, sorry. Log is fine

[2017-08-10 16:15] #5 closed

[2017-08-11 03:34] TristanWiley opened #23 "Make sure people without SO account but with SE can login"
Check if valid via openid not SO?

[2017-08-11 04:22] #23 closed, assigned to TristanWiley

[2017-08-11 04:23] TristanWiley commented on #8
There seems to be a lot of issues that really don't seem to be worth it to fix. It stems to how OkHttp and it all works together. Making wontfix. If someone does fix I'll test and merge

[2017-08-11 16:30] UsernameInvalidException opened #24 "Crashes on API18"
We had this same issue with Chat Exchange.

You need to use CompatDrawables or something like that....

    Caused by: android.content.res.Resources$NotFoundException: File res/drawable/ic_upload.xml from drawable resource ID #0x7f070070

[2017-08-11 16:44] #24 closed, assigned to nobody

[2017-08-11 16:45] UsernameInvalidException opened #25 "UI enhancements"
You should show some loading indication after the user presses the sign in button and while it's loading the previous messages in the room

[2017-08-11 16:49] UsernameInvalidException opened #26 "Spinner color inverted on API18"
A picture is worth a thousand words:

![screenshot from 2017-08-11 12-48-22](https://user-images.githubusercontent.com/28464769/29223130-72ffa4e8-7e93-11e7-9ae2-7bb5129ad34c.png)

[2017-08-11 16:50] UsernameInvalidException commented on #26
Additionally, the text for entering a room ID is barley visible against the white background

![screenshot from 2017-08-11 12-51-53](https://user-images.githubusercontent.com/28464769/29223242-deb8b828-7e93-11e7-9aaa-48130bd90c75.png)

[2017-08-11 16:55] UsernameInvalidException opened #27 "Joining rooms doesn't work"
(At least on API18)

I tried to join both SE room 201 and SE room 115 and after clicking join, nothing happens

[2017-08-11 16:55] TristanWiley commented on #26
@Mauker1 I'll leave this to you when you work on the design if you can.

[2017-08-11 16:56] TristanWiley commented on #27
I need more information other than "nothing happens". Error logs, otherwise closing this.

[2017-08-11 16:56] TristanWiley commented on #25
Was removed temporarily last night due to redesign.

[2017-08-11 16:56] #25 closed, assigned to nobody

[2017-08-11 16:58] UsernameInvalidException commented on #27
@TristanWiley Here's the log:

[code]

[2017-08-11 17:00] #26 closed, assigned to nobody

[2017-08-11 17:02] TristanWiley commented on #27
Log out and log back in, does that work?

[2017-08-11 17:03] #20 closed, assigned to nobody

[2017-08-11 17:11] UsernameInvalidException commented on #27
@TristanWiley Well room 201 showed up but room 115 did not

[2017-08-11 17:23] TristanWiley commented on #27
It works for me on multiple devices, can't reproduce.

[2017-08-11 17:23] #27 closed, assigned to nobody

[2017-08-11 17:24] UsernameInvalidException commented on #27
@TristanWiley  Did you try on API18?

[2017-08-11 17:27] UsernameInvalidException commented on #27
@TristanWiley I'm able to repro on an Android 8 emulator as well

[2017-08-14 23:23] TristanWiley opened #28 "Add view for Transcript"
We can just modify the ChatFragment layout and maybe even use the same MessageAdapter/modify it.

[2017-08-14 23:46] TristanWiley opened #29 "Integrate deep linking"
Attempted to do this and ended up running into issues, I'll try again

Also should eventually work with #28 so we can open transcript links too.

chat.stackoverflow.com/rooms/<num> --> open chatroom

chat.stackoverflow.com/transcript --> Transcript

Same for StackExchange

[2017-08-17 20:17] TristanWiley opened #30 "Make an About page"
About page containing the list of contributors

Tristan, Shreyash, Mauker, Adam

Yay

Also information about how the app was made, why it was made, etc. It's for the community by the community since StackExchange chat was kinda abandoned.

[2017-08-21 15:27] Mauker1 commented on #30
I will do the layout.

[2017-08-21 15:44] TristanWiley commented on #30
Gotcha, I'm kinda useless until my laptop comes back. Although I can do some stuff. I try. I try.

[2017-08-21 23:55] Mauker1 commented on #18
We could add this one on the right drawer

[2017-08-22 02:18] TristanWiley commented on #18
Do we even want to have a starboard? Like, the mobile version doesn't and it just adds more crap to load. We can make it a separate page, so in the overflow menu, click stars, and load them all. That's a lot easier.

[2017-08-22 02:22] Mauker1 commented on #18
I like that option more. Yeah. It's better to show them all on a different Fragment or Activity.

[2017-08-22 02:25] TristanWiley commented on #18
Can you just do me a favor and make a layout for it? A separate activity works with a basic recyclerview of items?

[2017-08-22 02:58] #4 closed

[2017-08-22 11:40] UsernameInvalidException commented on #29
We did this in Chat Exchange by extending WebView. You can look at our code if you want @TristanWiley

[2017-08-22 20:36] TristanWiley commented on #29
Not talking about in the app, that I know how to do lol

[2017-08-24 22:01] Mauker1 opened #33 "Log non-fatal issues using Crashlytics"
Crashlytics can be used to log non-fatal issues. We could place a few `Crashlytics.log(...)` on some places of the code to help us find potential bugs.

[2017-08-25 00:55] TristanWiley commented on #33
Sounds good to me

[2017-08-31 18:24] fyredave opened #34 "Publish ChatSE to the play store"
Hurry it up.

[2017-09-01 06:26] TristanWiley commented on #34
-_-

[2017-09-01 19:27] Mauker1 commented on #30
Finished it up on commit c5f0f19

[2017-09-01 19:27] #30 closed, assigned to Mauker1, AdamMc331

[2017-09-01 19:33] Mauker1 opened #35 "Revamp the chat layout to mimic the web layout for reply/edit/star/delete actions"
The web version of the chat shows up the reply/edit/star/delete once we hover the mouse pointer on the chat messages (Some of them you have to click on the arrow that also shows up on hovering).

The idea here is to show those actions if the user taps on a message, instead of using the long press/double tap/etc.

[2017-09-01 20:42] Mauker1 commented on #18
Yes, sure

[2017-09-07 18:24] TristanWiley opened #36 "Figure out what we want to do with background processes"
@tryadelion did something with background stuff and notifications.

How will Android Oreo affect this?
Do we want to have a background process listen for pings and present notifications?
Anything else?

[2017-09-07 18:24] TristanWiley commented on #36
@Mauker1 thoughts on this?

[2017-09-08 01:20] Mauker1 commented on #36
I think it's a good feature to add. It would be nice to have notifications on ping. (And the option to shut it down, if the user choose so)

[2017-09-08 02:47] TristanWiley commented on #36
@tryadelion want to try this?

[2017-09-10 01:51] TristanWiley commented on #34
Edited title to be actually constructive

[2017-09-10 15:19] Mauker1 commented on #34
We should set milestones @TristanWiley . Decide the features we want for version 1.0 and start working on them.

[2017-09-10 18:37] TristanWiley commented on #34
On it

[2017-09-10 18:39] TristanWiley commented on #33
This is done.

[2017-09-10 18:39] #33 closed, assigned to Mauker1

[2017-09-11 01:04] Mauker1 commented on #35
Will start working on it this week.

[2017-09-11 01:09] Mauker1 opened #37 "Change image loading from Ion to Glide"
Title is self explanatory.

I'm changing it due to Ion's lack of image loading from the Android Resources, which Glide does pretty well.

[2017-09-11 02:21] TristanWiley commented on #37
https://github.com/koush/ion/issues/153

[2017-09-17 14:25] Mauker1 opened #38 "Image animation not working on Star Activity"
The animations are not working as they should, as reported by @TristanWiley .

[2017-09-17 14:27] Mauker1 opened #39 "Enable google+ login"
I don'y know how feasible this is, but it would be superb to have the G+ login option on the app.

[2017-09-17 16:03] TristanWiley commented on #39
Already asked :) #17

[2017-09-17 16:03] #39 closed, assigned to TristanWiley, Mauker1

[2017-09-17 16:20] Mauker1 commented on #39
My bad :p

[2017-09-17 22:56] Mauker1 commented on #17
How's so? What's the problem with this feature?

[2017-09-18 16:47] TristanWiley commented on #17
There's a bunch of reasons.
1.) It's probably breaking Google's TOS
2.) The solution is super hacky due to the security of OAuth. It's not our authentication so we can't just integrate it into our app with a callback to our app.
3.) Putting it in a WebView requires a custom user-agent to trick it into allowing it (otherwise OAuth doesn't work in a WebView).
4.) Even after logging in for some reaso

[2017-09-20 02:07] Mauker1 commented on #17
1 -> Why? I can see a lot of apps that are doing it.
2 ->OAuth can be really tricky sometimes... That's really a problem since we're handling the auth as a "3rd party".
3 -> Shit.
4 -> Yeah, that's most likely fixable. This is more trouble than it's worth. Thanks for the clarification Tristan :)

[2017-09-20 02:18] TristanWiley commented on #17
1.) Because it's not OUR OAuth stuff. It's StackOverflow's.
2.) It's the unofficial way, we're capturing the cookies after login.
3.) Yep.
4.) Yep.

[2017-09-29 03:16] TristanWiley opened #40 "Starboard breaks on some users."
On some users the StarActivity breaks. I've they've deleted their account/been banned.

Such as this user
https://chat.stackoverflow.com/transcript/1?m=38706418#38706418

[2017-10-09 22:54] rozkminiacz opened #42 "Offline support"
As a user I want to read my chat history even offline.
Add local database - Realm, Room or ObjectBox for local storage.

[2017-10-09 22:55] rozkminiacz opened #43 "MVP + Coroutines"
Refactor all major views to Model-View-Presenter with some RxKotlin support.

[2017-10-09 22:56] AdamMc331 commented on #43
This is right up my alley. MVP and Rx all the things!

On Mon, Oct 9, 2017, 6:56 PM Jarosław <notifications@github.com> wrote:

[2017-10-09 23:17] Mauker1 commented on #43
So will you do it @AdamMc331 ?

[2017-10-09 23:17] Mauker1 commented on #40
So, what's the course of action here?

[2017-10-09 23:27] Mauker1 commented on #35
Should get back to this as soon as I solve my laptop condition.

[2017-10-09 23:31] AdamMc331 commented on #43
I don't think I will have the time, but if it's not something you or
Tristan can take on I can try. I don't know the whole code base but it
might be an overhaul.

On Mon, Oct 9, 2017 at 7:17 PM Maurício C. P. Pessoa <
notifications@github.com> wrote:

[2017-10-09 23:36] Mauker1 commented on #43
I think that it probably shouldn't be on the first version. We are already late to deploy it as it is right now.

[2017-10-09 23:40] rozkminiacz commented on #42
I'll make some basic db configurations and appropriate interfaces this week.

[2017-10-10 00:24] TristanWiley commented on #42
Sweet!

[2017-10-12 04:46] TristanWiley commented on #40
Me or someone doing null checks because rip my hacky code.

[2017-10-12 14:37] #37 closed, assigned to Mauker1

[2017-10-12 14:39] TristanWiley opened #45 "Switch all random Ion network calls to OkHttp"
Right now we're doing authenticated calls with OkHttp and Ion for random stuff (mainly because I was writing quick code and Ion is nice).

We need to switch Ion network calls to OkHttp and we can get rid of the Ion library completely.

No hate koush <3

#41 removed Ion for image loading, this is just killing it the rest of the way.

[2017-10-18 19:12] llund commented on #18
In the mobile web chat, you can view the starboard from the hamburger menu.

[2017-10-18 19:13] codeguru42 commented on #18
In the mobile web chat, you can view the starboard from the hamburger menu.

[2017-10-18 19:32] TristanWiley commented on #18
Ours is a little different, right now it's in the toolbar because rooms are in the hamburger.

[2017-10-18 19:34] TristanWiley commented on #18
This is actually done. #40 is an issue with it

[2017-10-18 19:34] #18 closed, assigned to TristanWiley

[2017-10-18 19:43] codeguru42 commented on #18
I should have quoted the message which I was referring to:

Glad to help you notice that this issue can just be closed. I'm looking for places to make contributions for Hacktoberfest, so I was looking through your issues. Don't hold your breath, but I'll see what I can do to tackle something this weekend.

[2017-10-18 19:55] TristanWiley commented on #18
Sweet! Yeah I gotta do some Hacktoberfest stuff too.

[2017-10-19 15:37] TristanWiley opened #46 "Image uploading from gallery broken"
Might be only on new devices. Emulator had issues so I couldn't test on older devices.

Path is returning null when getting image from gallery.

In ChatFragment, (Line 428)

[2017-10-19 15:39] Mauker1 commented on #46
Link the code, please

[2017-10-19 15:39] TristanWiley commented on #46
https://github.com/room-15/ChatSE/blob/develop/app/src/main/java/com/tristanwiley/chatse/chat/ChatFragment.kt#L421

[2017-10-19 19:28] AdamMc331 commented on #43
Yeah I've been thinking about this and it would be fun to try but I think it could be an overhaul and so it might be worth being done by itself, and not alongside other bug fixes as there could be merge issues.

[2017-10-19 19:40] TristanWiley commented on #45
Almost done, just waiting on #46

[2017-10-21 21:37] #46 closed, assigned to nobody

[2017-10-21 21:40] #45 closed, assigned to nobody

[2017-10-21 21:48] #38 closed, assigned to Mauker1

[2017-10-21 21:49] TristanWiley commented on #35
I'm going to remove this from v1.0, it's not required and the current layout is fine for now.

[2017-10-21 22:02] #40 closed, assigned to nobody

[2017-10-30 17:01] Mauker1 commented on #35
Seems fair

[2017-10-30 17:46] TristanWiley opened #47 "Broke images in starred area"
Need to fix

[2017-11-07 22:33] #47 closed, assigned to TristanWiley

[2017-11-07 22:34] TristanWiley opened #48 "Add support for quotes"
I want to get this in for v1.0

[2017-11-15 03:33] TristanWiley opened #50 "Replace ProgressDialog with non-deprecated alternative"
Same behavior, we just want to change ProgressDialog to something else since it's deprecated.

In LoginActivity.kt

[2017-11-15 04:09] TristanWiley opened #51 "Replace deprecated getRunningTasks with another solution"
In IncomingEventService, `getRunningTasks` is deprecated. This is used to get the foregroundTaskInfo and determine if our app is in the foreground.

We need a non-deprecated way to do this.

[2017-11-15 10:14] Mauker1 commented on #50
We could go back to MaterialDialog, since it’ll keep the same look across
all android versions.

Em qua, 15 de nov de 2017 às 00:33, Tristan Wiley <notifications@github.com>
escreveu:

--
Maurício Pessoa

[2017-11-15 17:02] TristanWiley commented on #50
We could also just use a ProgressBar

[2017-11-21 21:09] AdamMc331 opened #52 "Take Screenshots For Play Store Listing"

[2017-11-21 22:38] Mauker1 opened #53 "Shrink Navigation Menu image size"
## The problem
The image that's being used for the navigation menu header is a bit heavy to load. It's possible to notice the lag when you first try to open the menu.

We should reduce its size or use different images for each density to make the open/close animation smoother.

## Possible Solution
I believe that reducing the image size to fit all cases won't be the best approach. We might follow

[2017-11-21 22:39] Mauker1 commented on #53
@AdamMc331 This is really easy to do on a Macbook, can you do it?

Also, it's ok to crop it so it can get a 16:9 aspect ratio.

[2017-11-22 02:42] AdamMc331 commented on #53
In addition to this, we should modify the list item size for each room name:

![navigation_drawer](https://user-images.githubusercontent.com/9515997/33107339-cec8536c-cf04-11e7-9b8d-035a545752bf.png)

[2017-11-22 02:54] AdamMc331 opened #54 "Joining a room duplicates the items in the adapter list"
I joined the Sandbox room on SE and all the sudden the lists inside the navigation drawer doubled.

![](https://dl2.pushbulletusercontent.com/A43PGMQyL4ovn8PwpHc4nmbC74bS7ZjL/Screenshot_20171121-215335.png)

[2017-11-22 02:56] TristanWiley commented on #53
I'm just going to ignore the glitch where there's two of each Room :P

[2017-11-22 03:03] AdamMc331 commented on #54
Part of this fix is going to be to remove the two recyclerviews and switch it to one.

[2017-11-22 04:00] AdamMc331 opened #56 "Star Dialog Copy"
If I long press on an item that is already starred, we should display "Unstar Message" in the dialog box instead of it still saying "Star Message" which can be misleading.

![star_dialog](https://user-images.githubusercontent.com/9515997/33109485-c1e9b522-cf0f-11e7-9c19-2a9814dc44cb.png)

[2017-11-22 04:01] AdamMc331 opened #57 "Allow User To Reply To Message"
When I long press on a message, all I can do currently is star it. It would be nice to have the option to "reply" to a message as well, and have the ":12345" text applied in the beginning.

[2017-11-22 04:05] AdamMc331 opened #58 "Clean Up Member Nav"
The members in the room are really bunched together and there's no padding on anything.

I'll take this one on.

[2017-11-22 04:08] AdamMc331 opened #59 "Remove fully qualified package names"
All over the codebase we have com.tristan.wiley.verbosity.Room. I think the code would be a lot more maintainable and readable if we got rid of those.

I will take this on as well.

[2017-11-22 04:12] AdamMc331 commented on #59
Waiting on #55 and #60 before I start on this.

[2017-11-23 06:26] AdamMc331 commented on #59
@TristanWiley @Mauker1 In doing this I'm also finding a number of lint warnings that I'm fixing (things that can be private and so on).

One of them is around properties that are using snake_case and not camelCase which is something I want to fix, but I want to make sure you guys are okay with it.

[2017-11-23 19:24] TristanWiley commented on #59
Yeah go ahead and fix. A lot of those things you're fixing were from when we did some refactoring and AS messed some things up. Feel free to change please <3

[2017-11-24 00:54] AdamMc331 commented on #54
Thought: If we make this a Set<Room> instead of List, the data structure could handle preventing dupes for us.

[2017-11-24 01:21] AdamMc331 opened #62 "Duplicate Divider Item Decorations"
Need to compare the two classes (one in chat package one in views package) and, if they're the same, consolidate them into one class.

[2017-11-24 01:40] Mauker1 commented on #62
I believe this is my fault. I created one when I was designing the
AboutActivity.
--
Maurício Pessoa

[2017-11-24 01:42] Mauker1 commented on #54
Adam, I’m having a Dejavu with this conversation.
--
Maurício Pessoa

[2017-11-24 01:50] AdamMc331 commented on #62
Well there was one that got copied from my lib but I didn't know that, so I added one of my own when I redid the nav drawer without realizing it.

[2017-11-24 02:41] AdamMc331 opened #63 "Add Designer To About Section With Devs"
https://github.com/nrizvi

[2017-11-24 03:13] #58 closed, assigned to AdamMc331

[2017-11-24 04:20] #53 closed, assigned to AdamMc331

[2017-11-24 04:23] Mauker1 commented on #35
I think I'll add a flag on the chat adapter that'll indicate if a chat message has been tapped. If it's true, I'll show the icons.

[2017-11-24 04:33] #63 closed, assigned to Mauker1, AdamMc331

[2017-11-24 05:38] sadanand8005 commented on #34
Is there any other place where we can this apk, I am eagerly waiting to install this app and try.

[2017-11-24 05:54] TristanWiley commented on #34
You're free to build the apk although right now no. We'll have a beta on the Play Store very soon. I have it written up, we just need some final tweaks and UI prettification.

[2017-11-24 06:07] TristanWiley opened #64 "Create a sign in help page"
Create a help page to get people signed up since we need to do it the convoluted way and gahhh

[2017-11-24 06:08] TristanWiley opened #65 "Add support for xkcd oneboxing"
Okay so this should be really easy. If anyone else wants to, go ahead, otherwise I will.

[2017-11-24 06:11] TristanWiley opened #66 "Add first time "Thanks for using the beta" screen"
Need a simple dialog that welcomes people to ChatSE, thanks them for using the beta, and instructs them on how to report issues.

[2017-11-24 06:11] TristanWiley commented on #66
Assigning Adam because I know he likes easy things.

[2017-11-24 06:16] TristanWiley opened #67 "Fix sizing issue on About page for Stack Overflow"
I fixed the Stack Overflow String so it's no longer one word, now the about page SO looks weird.

Going to assign @Mauker1 since that's his turf ;)

![screenshot from 2017-11-24 01 15 12](https://user-images.githubusercontent.com/2747793/33197718-1f9a825e-d0b5-11e7-8ed4-d78ae646101e.jpeg)

[2017-11-24 06:18] TristanWiley commented on #59
Can this be closed @AdamMc331?

[2017-11-24 06:34] #59 closed, assigned to AdamMc331

[2017-11-24 06:36] AdamMc331 commented on #66
Where's the angery react on GH

[2017-11-24 06:36] AdamMc331 commented on #65
You would

[2017-11-27 00:36] Mauker1 commented on #64
+1 on this one. Since we can't handle the "3rd party" oauth as stated on #39 . It's a bit of a pain to configure the OpenID login.

[2017-11-27 00:37] Mauker1 commented on #57
This is done on one of my commits. I'll close this as soon as I finish some UI tweaking.

[2017-11-27 01:40] TristanWiley commented on #64
Someone make a UI and I'll make a write-up.

[2017-12-16 14:38] TimCastelijns commented on #43
I think it's better to do this sooner rather than later. Proper structure takes some time now, makes everything easier now and in the future. Doing the MVP rework after release might also introduce bugs because much will change

[2018-01-03 20:23] fyredave commented on #57
Still waiting for this Mauker

[2018-01-03 21:23] TristanWiley commented on #57
Same... same ;)

[2018-01-05 02:24] Mauker1 commented on #57
The feature is done already. I'm finishing some UI stuff before I send it.

Em 3 de jan de 2018 6:23 PM, "Tristan Wiley" <notifications@github.com>
escreveu:

[2018-01-08 13:40] TimCastelijns commented on #35
Why? Long press standard for this kind of stuff

[2018-01-25 02:18] Mauker1 commented on #64
Will do

[2018-01-30 07:46] tryadelion commented on #65
i'll give it a try.

[2018-02-06 13:09] Mauker1 commented on #57
I'll close this issue since:

1- It's done
2- It's related to #35

[2018-02-06 13:09] #57 closed, assigned to Mauker1

[2018-06-28 13:11] CallMeFib3r opened #70 "Logo Proposal"
This is the outcome of the logo that was requested for ChatSE. For this logo, I went for a minimalist logo that represents the project.
![banner-01](https://user-images.githubusercontent.com/37731582/42035461-47728cbc-7ae3-11e8-85b2-9d2c633cfa14.png)
As discussed via email I included all the requested files as well as some files that will come in handy if you'd ever decided to make (small) adjustm

[2018-08-14 18:32] MehdiFal commented on #34
..."**Very soon**"

[2018-08-14 18:33] davebren commented on #34
Your fans are waiting...

[2018-08-14 18:33] fyredave commented on #34
This issue is still open...

[2018-08-15 04:58] TristanWiley opened #71 "Combine StarsMessageAdapter and MessageAdapter functionality"
Currently the code for `StarsMessageAdapter` and `MessageAdapter` is similar (i.e. parsing oneboxed messages, etc) but not identical. We should combine these where appropriate, or possibly make one adapter for both that handles both cases.

[2018-08-15 06:15] TristanWiley commented on #54
Fixed this bug. Was calling the add rooms on every new event. Now only calls on first load and when adding a room from the dialog.

This can be improved a lot in the future with some major refactoring and cleanups, for now works fine.

[2018-08-15 06:15] #54 closed, assigned to AdamMc331

[2018-10-02 16:50] #70 closed, assigned to nobody

[2018-10-02 16:50] #66 closed, assigned to AdamMc331

[2018-10-02 16:50] #56 closed, assigned to nobody

[2018-10-03 04:48] raghunandankavi2010 commented on #50
How about adding a progressbar around the fab https://github.com/JorgeCastilloPrz/FABProgressCircle?. Let me know your thoughts on this to remove the deprecated progress dialog!.

[2018-10-03 08:55] TimCastelijns commented on #64
Prioritize please. I want to contribute but I can't get past the login screen (seriously).

[2018-10-03 09:06] TimCastelijns commented on #35
This can be closed, already works with regular click

[2018-10-03 09:26] TimCastelijns commented on #67
It's still one word in develop. It's actually hardcoded in AboutActivity#L236

[2018-10-03 12:00] TimCastelijns opened #73 "Register the project with an automated test running service"
It's important that core functionality is continuously tested.

I personally use CircleCI, but use whatever you like.

[2018-10-03 12:09] TimCastelijns commented on #36
This is not possible, unless the app is in the foreground. We discussed this in length in chat some time ago. It's basically impossible to do this unless the messages are routed through a server somewhere that monitors for pings etc.

Apps that are in the background are no longer allowed to start background services. Background services that were already running are shut down after X mins when the

[2018-10-03 12:10] #67 closed, assigned to Mauker1

[2018-10-03 12:19] TimCastelijns commented on #71
I don't think it's appropriate to use the same adapter for different use cases. It's very possible that one of the list/layouts will change and in that case it's much easier to change only the adapter for that list and not touch the other.

In such cases it's better to extract shared functionality to a helper class, while retaining 2 adapters.

[2018-10-03 12:21] TimCastelijns commented on #51
As an alternative to using ActivityManager, it's possible to have the application class listen for activity lifecycle changes. Then you can derive that the app is in the background if `Application.currentForegroundActivity = null` or something. Not implying it's better, but now you have 2 options 🙂

[2018-10-03 12:25] Mauker1 commented on #35
This was finished on 1f2760f087f37dc8efe3604464cfb6290c0675c6.

[2018-10-03 12:25] #35 closed, assigned to Mauker1

[2018-10-03 12:26] IzzySoft commented on #34
Maybe rename it to "publish on F-Droid"? After all, it's open source, and F-Droid is much more trustable when it comes to that and privacy. Though for F-Droid, the app would need a "foss flavor" that comes without Crashlytics.

For a starter: why not using tags, and attach the `.apk` files of your milestones/releases there?

[2018-10-03 12:29] Mauker1 commented on #64
This is indeed important @TristanWiley - It's still a pain to configure openID, and it seems that's the only way to log in.

[2018-10-03 12:29] Mauker1 commented on #73
Can you create a configuration file for us @TimCastelijns ?

[2018-10-03 12:30] #52 closed, assigned to AdamMc331

[2018-10-03 12:45] TimCastelijns opened #74 "Room listed twice in the side menu"
## Expected Behavior
Room is listed once

## Current Behavior
Room is listed twice

## Possible Solution
N/A

## Steps to Reproduce (for bugs)
1. Log in
2. Open the side menu

![image](https://user-images.githubusercontent.com/6169669/46411000-eaf80500-c71a-11e8-839f-ec3d6677c43b.png)

## Context
N/A

## Your Environment
* Version used: 0.1.0
* Android version: 8.1
* Anything else:

[2018-10-03 12:45] Mauker1 commented on #50
I think I'd rather just use a progressbar or something, that way we can avoid adding yet another dependency, and we won't block the UI.

[2018-10-03 12:46] TimCastelijns commented on #73
Yes, but should we not wait for feedback? I suggest tristans registers with service X before we do anything.

[2018-10-03 12:48] TimCastelijns commented on #64
@Mauker1 strangely, openID should not work at all anymore (https://meta.stackexchange.com/questions/307647/support-for-openid-ended-on-july-25-2018). I'm not sure how it is still working.

[2018-10-03 12:49] Mauker1 commented on #74
@TristanWiley it seems this issue wasn't solved after all :/ #54

[2018-10-03 12:51] Mauker1 commented on #73
Yes, we should. But if he's ok with this, we know that you can help us with that :)

[2018-10-03 12:58] TimCastelijns commented on #73
Naturally. In case of CircleCI, take this file and change the PWD name https://github.com/TimCastelijns/Room15Bot/blob/master/.circleci/config.yml it works out of the box. I have no experience with other services.

[2018-10-03 13:01] Mauker1 commented on #73
I've used travis on MaterialSearchView, but it takes a while to run.

[2018-10-03 13:02] Mauker1 commented on #64
I guess they're still using the same endpoint perhaps? I've configured my email+password login on this URL: https://stackoverflow.com/users/login-add?returnUrl=%2Fusers%2Fcurrent

[2018-10-03 13:04] TimCastelijns commented on #64
That might explain why I can't log in with my main user. It has only google as login. The bot can log in with the app just fine. In any case email+password is indeed the way to go.

[2018-10-03 13:06] Mauker1 commented on #64
We have discussed adding Google login on the app, but it seems it's a no-no.

Refer to #17

[2018-10-03 13:15] raghunandankavi2010 commented on #50
ok.

[2018-10-03 13:58] raghunandankavi2010 commented on #43
MVVM and databinding with repository pattern?. we could start with LoginActivity!.

[2018-10-03 14:02] raghunandankavi2010 commented on #48
I would like to discuss on this further. Suggestion welcome. Do we need custom spans and draw the "  " at the start and end?

[2018-10-03 14:05] raghunandankavi2010 commented on #64
yeah!. Agree with tim. i had to create a login by editing on my profile page on SO, since i login with google on most stackexchange sites. It would be good if we add some description so that users know about this.

[2018-10-03 14:38] TimCastelijns opened #77 "Remove "application flow" from the readme"
Under the premise of "good code explains itself" I feel that it's not really important to explain the general application flow since you can just read the code that you're interested in and find out how it works from there. Another thing with such documentation is that it's easy to forget to update it when the code it describes changes.

Any implementation details that are essential for contributo

[2018-10-03 16:35] raghunandankavi2010 opened #78 "Blue border for user profile image"
If you see the screen shot below there is a blue border around CA's profile icon. Note: running the app on emulator. When scrolling i can see a blue border which seems to be kind of a placeholder. But the border on CA's profile icon looks little odd.
![screenshot](https://user-images.githubusercontent.com/4216745/46424962-3086f300-c758-11e8-8d9a-91547f93116b.png)

[2018-10-03 16:45] raghunandankavi2010 commented on #74
I cannot reproduce this issue.

[2018-10-03 17:13] raghunandankavi2010 opened #79 "Profile Images on chat screen flickers"
The profile icon on the chat screen flickers. This is reproducible when your scroll fast.

[2018-10-03 17:24] #78 closed, assigned to nobody

[2018-10-03 17:25] raghunandankavi2010 commented on #78
@Mauker1 this is working as intended?

[2018-10-03 17:26] Mauker1 commented on #78
It wasn't. I changed it to a transparent background.

[2018-10-03 17:27] raghunandankavi2010 commented on #78
okay.

[2018-10-03 17:42] ankitagrawal2411 commented on #79
working on it

[2018-10-03 18:50] #50 closed, assigned to nobody

[2018-10-03 22:10] 7fe commented on #17
I would like this feature also.

[2018-10-03 22:45] TimCastelijns commented on #17
It's not really possible.

[2018-10-04 02:12] raghunandankavi2010 commented on #79
Can someone confirm that having stable ids will prevent flicker of images?

[2018-10-04 10:07] raghunandankavi2010 commented on #79
https://drive.google.com/open?id=1_yMrORbfxzMecZ-xAo4O9shpuf8K10nq. This is the result after changing getItemId to return messages[position].id. Before it was messageid instead of id.

[2018-10-04 10:13] raghunandankavi2010 opened #84 "Use of Glide Preloader for preloading profile images on scroll"
https://bumptech.github.io/glide/int/recyclerview.html. This could have better effect when scrolling the recyclerview.

[2018-10-04 10:14] TimCastelijns commented on #79
Seems good. It is still slow with loading the data, but that is probably because the viewholder#bind fun is 300 lines long and very inefficient.

[2018-10-04 12:59] ankitagrawal2411 commented on #79
@TimCastelijns  yes i saw that the bind seems like a lot inefficient

[2018-10-04 13:09] Mauker1 commented on #74
It seems there's still some edge case on this issue. We need to dig further, and try to reproduce it.

[2018-10-04 13:11] Mauker1 commented on #71
Closing this as it's not really necessary.

[2018-10-04 13:11] #71 closed, assigned to nobody

[2018-10-04 13:11] Mauker1 commented on #79
Solved on df3678a0be0b6ca7ac409c676654cd78bb371c4b.

[2018-10-04 13:11] #79 closed, assigned to nobody

[2018-10-04 13:19] Mauker1 commented on #48
Not necessarily with the quotation marks. On the web chat, once you add a `>` It'll draw a vertical line at the beginning of the message, and add some padding to the text. We could try to do something similar on the app.

Example:
![Quotes](https://user-images.githubusercontent.com/2752808/46476554-e127dd80-c7be-11e8-878c-6188c8921c06.jpg)

[2018-10-04 13:20] Mauker1 commented on #29
@TristanWiley is this still relevant?

[2018-10-04 13:25] Mauker1 opened #85 "Change PNG resources to Vector Drawables"
## Expected Behavior

All the app icons should use XML resources.

## Current Behavior

As of today, there are quite a few icons are still in PNG.

## Possible Solution

It would be better to change those icons with Vector Drawables. All of them can be easily found and replaced.

[2018-10-04 20:04] #85 closed, assigned to Mauker1

[2018-10-04 21:02] Mauker1 opened #86 "Stable IDs killed image reloading after animation"
## Expected Behavior

Once an user posts an image on the chat, it's supposed to show the thumbnail, and after the image is tapped, it's supposed to show the large version of the image.

## Current Behavior

After the commit df3678a0be0b6ca7ac409c676654cd78bb371c4b we started using stable ids on the RecyclerView, but as a side effect, the chat message won't reload after the user taps it, showing a

[2018-10-05 04:33] raghunandankavi2010 commented on #86
dam!. i din't test this scenario. nice catch!. one question the images can be gif also right?

[2018-10-05 12:15] Mauker1 commented on #86
Yes, it can also be a GIF, but I don't remember if we had gif support before.

[2018-10-05 14:01] TimCastelijns commented on #43
We discussed it briefly. Plan for now is to do MVP, with Rxjava where appropriate. Would like to use coroutines in the future, but we lack experience at the moment.

[2018-10-05 14:11] TimCastelijns commented on #36
Idea: we can set up a lite version of the bot project that just monitors all messages and sends FCM messages when someone is pinged.

[2018-10-05 14:46] TimCastelijns commented on #42
Is this still relevant? In the rare case that you are offline - why would you want to see your chat history? You cannot act on it anyway.

[2018-10-05 14:59] Mauker1 commented on #42
Yeah, also the UI as it is now wouldn't give a nice support for offline messages. Vote to close.

[2018-10-05 15:03] Mauker1 commented on #36
I like that idea. But then the bot would've to be on all rooms, right?

[2018-10-05 15:09] #42 closed, assigned to rozkminiacz

[2018-10-05 15:09] TimCastelijns commented on #36
Good point. I only think about R15 :(

[2018-10-05 18:26] Mauker1 commented on #77
I agree with this.

[2018-10-05 20:57] Mauker1 opened #87 "Create style guide"
It's possibly a good idea to have a style guide to be used as a reference for contributors on this project.

This will define the coding style, and how the logic is separate between the app's components.

[2018-10-06 11:18] raghunandankavi2010 opened #88 "Room selection replaces the same again - Navigation Drawer"
Consider you are in Chat Room Android. You open the drawer and click on Room Android again, it closes the drawer and replaces the same room again. This is because ChatFragment is replaced again.

Expected behavior - If i am already in the same room and clicking on the room in the drawer , it should close the drawer instead of ChatFragment replacing it with a new one.

Also highlighting the text of

[2018-10-06 12:11] raghunandankavi2010 commented on #88
here's the video of the issue fixed. https://drive.google.com/open?id=1NXMCGo1kbxQOHQ1VTZ23ZtP4b9CIs2DB. Please test it and let me know if this brings up new issues. Also let me know if something in the build is breaking (:)).

[2018-10-07 08:20] raghunandankavi2010 commented on #74
I was able see this bug today. But this crops up randomly. Also the drawer loading is little slow.

[2018-10-08 00:31] Mauker1 opened #90 "Check for old/deprecated dependencies"
## Context

It came into my knowledge that we are using the deprecated dependency `com.squareup.okhttp` instead of `com.squareup.okhttp3`.

We will update it, but I also believe it's a good idea that we double check the other dependencies and change them if another deprecated dep is found.

[2018-10-08 06:04] raghunandankavi2010 opened #91 "Flicker of profile icon in stars list screen"
Profile icon flickers in stars list screen. ( StarsMessageAdapter.kt )

## Expected Behavior
Profile icon in stars list screen should not flicker.

## Current Behavior
Profile icon flickers. Also the users sees a different icon on the avatar when he scrolls fast until the right profile icon is loaded

## Possible Solution
Use stable ids and override getItemId in StarsMessageAdapter.

## Steps to R

[2018-10-08 06:32] tryadelion commented on #36
Let's just implement in on R15 for now, and provide for a super lite version of the bot to any chatroom that requests it, (with them on their own to implement it). and put a message on the settings pannel with a form on how to request it.

[2018-10-08 06:37] tryadelion commented on #36
"The notification system known as ZuCC (Zonal unified Chat Controller) is a unidirectional communication provider between **your SO Room** and the ### Chat App in the form  of a always listening bot.
To request your own instance of ZuCC Bot and guidance on the setup and installation on a hosting of your own, please fill the following form (Bear in mind we only reply to requests made by room owners

[2018-10-08 12:27] Mauker1 commented on #91
Same issue as #79 basically.

[2018-10-09 08:12] TimCastelijns opened #94 "Remote "donate""
There is/was a "donate" section in the About section. I'm 99.99% sure google does not allow this because it prevents them from receiving a cut.

[2018-10-09 11:57] Mauker1 commented on #94
Let's just remove it then. I'll push that later on.

[2018-10-09 12:12] #91 closed, assigned to nobody

[2018-10-09 12:18] #94 closed, assigned to Mauker1

[2018-10-09 14:03] TimCastelijns commented on #73
I logged in with github as room-15 and created a project at CircleCi. We have 1500 mins of building time per month there. Currently it builds all branches, but we can specify less if we want only master+develop+feature* for example.

[2018-10-09 14:03] #73 closed, assigned to TristanWiley

[2018-10-09 14:33] TimCastelijns commented on #90
I think it's also a good idea to avoid using libraries for small tasks.

[2018-10-10 07:49] raghunandankavi2010 opened #95 "Wrong profile icon loaded in MessageAdapter and StarsMessageAdapter when user scrolls list fast"
In any of the Chat screen of a room or stars screen if you scroll the list very fast, wrong profile icon/gravatar is displayed for a second before the right one is displayed.

## Expected Behavior
Profile icon loading should be smooth without giving a feel to the user that wrong image is loaded for few seconds.

## Current Behavior
Scrolling the list fast loads wrong images for a second or so and

[2018-10-10 07:56] TimCastelijns commented on #95
The doAsync that retrieves the url for the image should not be in in the ViewHolder#bind at all. It is extremely inefficient to make this call every time. This might just be why it is slow to update the image.

[2018-10-10 08:07] raghunandankavi2010 commented on #95
Exactly my view. I just moved all of that code to ChatFragmentfor testing ( check video link above). The bind method is very messy right now. I don't think this is an issue with glide itself except removing deprecated api and switching to new one. Is moving that part of the code to ChatFragment fine or you have any alternate suggestions?. And this is similar for StarsMessageAdapter as well.

[2018-10-10 08:13] TimCastelijns commented on #95
Can do that for now. Ultimately it should be done in the presenter or repo, so that the view only receives the url it has to load.

[2018-10-10 08:26] raghunandankavi2010 commented on #95
Agree. Since view's job is to just display, we should move that repo definitely.

[2018-10-10 10:51] raghunandankavi2010 commented on #95
Is there a way to fetch url and messages all at once?. Right now for each message (user id) we are getting image url. This happens only after getting message. If there is way where one background task fetches message and imageurl ( for corresponding message), the ui rendering would be fast. Right now adapter rendering on screen is slow. Same with StarsMessageAdapter. But the image issue can be fix

[2018-10-10 11:39] TimCastelijns commented on #95
But the current issue is that the image fetching on takes too long and causes the avatar to be updated slowly. It doesn't matter if you load it on the background or not, it will still take long enough for you to see the previous avatar for a moment. I don't know anything about the adapter loading being slow or not. Maybe that is a separate issue. @Mauker1 input please

[2018-10-10 11:51] raghunandankavi2010 commented on #95
The adapter loads when you have data ( getting both messages and url is slow). The urls needs to be fetched first. Right now -> 1. fetch all messages (notify adapter - display message ) 2. in on Bind fetch url and display profile icon.

What i thought -> 1. fetch all messges . 2. for each message fetch url. This goes on till all url's are fetched. And then notify adapter. This is taking about 20 s

[2018-10-10 11:58] TimCastelijns commented on #95
In my opinion we should not spent a lot of time fixing little things left and right in this code. Just rewriting problematic sections from scratch would be easier.

[2018-10-10 12:13] Mauker1 commented on #95
I agree with tim. Perhaps it's better to just rewrite some sections, that'll fix those problems as well.

Also, is fetching the URLs really that slow?

[2018-10-10 12:14] raghunandankavi2010 commented on #95
Agree. I will just leave it as it is for now. Better to switch to MVP.

[2018-10-10 12:16] Mauker1 commented on #95
One more thing. We could use placeholders on the Glide loaading process, that'll at least hide the old avatar before the new one is loaded.

Let's not forget that we also have this option: https://bumptech.github.io/glide/int/recyclerview.html

[2018-10-10 12:23] raghunandankavi2010 commented on #95
Makes sense. But async in bind needs to be moved out. That is what is causing the issue as until URL is fetched previous cached images are displayed.

[2018-10-10 12:23] Mauker1 commented on #90
Agreed.

[2018-10-10 12:43] TimCastelijns opened #96 "Provide default fabricApiKey"
Remove the fabricApiKey set up instructions and a) hardcode it into the app, or b) host it somewhere and have a gradle task download it during building.

It's not a problem to make this key public
- Nobody cares about it. Fabric is free to use
- People can easily decompile the apk and grab it from there anyway if they want to steal it

The gain here is that we remove a set up step.

In case this i

[2018-10-10 12:45] Mauker1 commented on #96
We could do that. But I believe it's better if I create a new key and project for this.

Also, I'll need the contributor emails to register on ChatSE's project.

[2018-10-10 12:49] TimCastelijns commented on #96
What would be the purpose of the 2nd project?

[2018-10-10 12:51] Mauker1 commented on #96
I belive I used the wrong word for it. Group seems to be the correct term for it.

Right now it's using the api key from a personal group. So I'll create one for this app, and we can post the new api key.

[2018-10-10 14:00] Mauker1 commented on #96
I created the "ChatSE" organization on Fabric, and generated a new key. I'll push it later on.

[2018-10-10 14:13] #96 closed, assigned to nobody

[2018-10-10 14:30] TimCastelijns commented on #96
@Mauker1 should the docs be updated?

[2018-10-10 14:47] #77 closed, assigned to nobody

[2018-10-10 14:56] TimCastelijns commented on #43
Rx is dead, long live coroutines

[2018-10-11 09:24] raghunandankavi2010 commented on #88
This can be closed.

[2018-10-11 09:54] #88 closed, assigned to nobody

[2018-10-11 13:30] #62 closed, assigned to AdamMc331

[2018-10-12 04:39] raghunandankavi2010 commented on #90
We could use this https://github.com/franmontiel/PersistentCookieJar which takes care of cookie persistence. But we will be adding a new dependency. If not porting to new okhttp3 will require wholesome changes. The major part would be persistent cookie. The rest all are minor changes ie import statements and changing FormEncodingBuilder() to FormBuilder().

I also see okhttp3 has a Cookie class wh

[2018-10-12 11:33] raghunandankavi2010 commented on #74
Somewhere room is added to the list twice. Also there are two recycler views which should be removed. Also we could move about and logout to the drawer.

[2018-10-12 11:37] TimCastelijns commented on #74
About gives information for the coom that is currently displayed, so it can stay where it is imo. I agree on the moving the logout to the drawer, since the drawer also displays the user's info.

[2018-10-12 12:08] raghunandankavi2010 commented on #74
Agree. And the contributors sections!

[2018-10-12 13:58] raghunandankavi2010 commented on #48
This can be done with QuoteSpan https://developer.android.com/reference/android/text/style/QuoteSpan . So if message starts with > it's quoted message?

[2018-10-12 14:05] TimCastelijns commented on #48
Yes. QuoteSpan looks good, go for it. Indeed a quoted message has the format of `> message`

[2018-10-13 02:04] raghunandankavi2010 commented on #95
@Mauker1  check this https://drive.google.com/open?id=1Ub3_yAQSbzYJ4oYzBLAyJ0DGOW53CLJL. Is this okay. For each message kick off a background thread to fetch url based on userID and then notify only that row in the adapter based on index. In ChatMessage method handleNewEvents - ` // fetch url for each message based on user Id
            val messageEventList = events.messagePresenter.getEventsList

[2018-10-13 02:40] raghunandankavi2010 commented on #95
@Mauker1 check this https://drive.google.com/open?id=1xD32kwk5yu8auqBlUgmrUf5JB0y1eiXI. Is this okay. For each message kick off a background thread to fetch url based on userID and then notify only that row in the adapter based on index. In ChatMessage.kt  method handleNewEvents -

    val messageEventList = events.messagePresenter.getEventsList()
    for( (index,messageEvent) in messageEventList.

[2018-10-13 12:51] raghunandankavi2010 commented on #95
I would like to share a chatse apk ( debug .apk ) file with you guys and have a feedback. https://drive.google.com/open?id=1XaNGlBZUEWkdyfUY4_K2BL27jD4GLATs.

1. I used SortedList which takes care of notifying adapter. After fetching items are added to SortedList.
2. I fetch url's in ChatFragment instead of Adapter - this should solve scrolling issue and is little faster.
3. Since new items are ad

[2018-10-13 13:10] raghunandankavi2010 commented on #95
I would like to share a debug apk of the app - https://drive.google.com/open?id=1a6M-LdO1UJL2hhe4bI1W5LN7plCAKpIG. I would like to know your feedback on the same. If there are other possible solutions to fix this issue, i would love to hear. If the issue is fixed and everything works i can create a PR.

[2018-10-14 07:38] raghunandankavi2010 commented on #48
Another case where message does not start with `> message`
![quote](https://user-images.githubusercontent.com/4216745/46913821-206ddf80-cfb2-11e8-97fb-1cdb50eae3e9.png)

QuoteSpan works for other cases.

[2018-10-14 10:20] TimCastelijns commented on #48
That's not a quote, that's a permalink

[2018-10-14 11:46] raghunandankavi2010 commented on #48
ok. the link shows as a green square block

[2018-10-14 13:06] raghunandankavi2010 commented on #74
I saw a different behaviour where there are no rooms listed in the drawer. https://drive.google.com/file/d/1rkHooxP0rDY-RdjJ408uUL9Intlw9Gnq/view?usp=drivesdk. This is random.

The drawer width is also not right on pixel phone

[2018-10-15 09:44] raghunandankavi2010 commented on #90
Also in the future we can move to android x libs which is part of andorid jetpack family!.

[2018-10-15 16:10] raghunandankavi2010 commented on #95
@Mauker1  had a chance to check the app?

[2018-10-15 17:49] Mauker1 commented on #95
Not yet, I don't have a computer at home anymore, so I'm more limited with
those matters for a while. I'll check as soon as I can.

Em seg, 15 de out de 2018 às 13:10, Raghunandan Kavi <
notifications@github.com> escreveu:

--
Maurício Pessoa

[2018-10-17 20:10] Mauker1 opened #102 "Disable crashlytics log for debug builds"
As of commit 209540bb96037830845af62fd673e020232886ca, the app is also keeping track of crashes on debug builds, we don't want that.

[2018-10-17 20:13] #102 closed, assigned to Mauker1

[2018-10-19 09:15] raghunandankavi2010 opened #103 "Keyboard is displayed when drawer is open."
If the soft keyboard is displayed and user opens the drawer, the soft keyboard is not dismissed.
Dismiss the keyboard when drawer is open.

[2018-11-02 17:33] Mauker1 commented on #103
I can do that.

[2018-11-02 17:55] #95 closed, assigned to nobody

[2018-11-02 19:04] raghunandankavi2010 opened #107 "Circle CI build failed."
QuoteSpan with constructor params color, stripeWidth and gapWidth is only available in api 28. We need a version check and use appropriate constructosr.

Circle Ci issued a lint warning. Lint check failed.

[2018-11-02 19:27] raghunandankavi2010 commented on #103
yeah listen to drawer open/close event and dismiss the soft keyboard.

[2018-12-30 16:13] #107 closed, assigned to nobody

[2018-12-30 16:58] raghunandankavi2010 opened #110 "Migrate project to androidx and use material design components"
Migrate to androidx and use material design themes and components.

[2018-12-30 22:11] Mauker1 commented on #110
That's a very good idea. But it needs to be handled carefully, this migration can be a pain sometimes.

[2018-12-31 04:42] raghunandankavi2010 commented on #110
I will do it. I am already working on it.

[2020-04-16 07:12] gspeiliu opened #113 "libs version change"
Hi, while checking the source code of the previous versions, I found that some libs versions downgrade.
io.fabric.tools:gradle

The version change trace is: 1.+ -> 1.24.1 -> 1.25.4 -> 1.26.1 -> 1.25.4

As we all know that + matches the latest version, why do we need to change the + to the specific version number?
In addition, for the last change, why do we need to downgrade this lib?
Thanks :-)

[2020-04-16 10:14] TimCastelijns commented on #113
Did you not see that this project has not been updated in 16 months? It's dead

[2020-04-16 10:14] #113 closed, assigned to nobody